@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px 12px;
  border-radius: 14px;
  font-weight: 800;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.35);
}
.btnActive {
  background: #ff2b2b;
  border-color: #ff2b2b;
  color: #000;
}
.tag {
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 900;
}
.tagYes {
  background: #ff2b2b;
  color: #000;
}
.tagNo {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
